@using Admin.Panel.Core.Entities.Questionary
@model Admin.Panel.Core.Entities.Questionary.ObjectProperty

@{
    ViewData["Title"] = "Создание свойства";
}

 @if (User.Identity.IsAuthenticated)
 {
     if (User.IsInRole("SuperAdministrator") || User.IsInRole("PropertiesObjectEdit"))
     {
         <h2>@ViewBag.Title</h2>
         <hr />               
         <form method="post" asp-antiforgery="true" class="needs-validation" novalidate>
             <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">
                 <div class="col-md-10">
                     <label asp-for="Name"></label>
                     <input asp-for="Name" class="form-control" required>
                     <div class="invalid-feedback">
                         Please provide a valid city.
                     </div>
                     
                     @* <span asp-validation-for="Name" class="text-danger"></span> *@
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-md-10">
                     <label asp-for="NameInReport"></label>
                     <input asp-for="NameInReport" class="form-control"/>
                     <span asp-validation-for="NameInReport" class="text-danger"></span>
                 </div>
             </div>
             <div class="form-group form-check">
                 <div class="col-md-10">
                     <input asp-for="IsUsedInReport" type="checkbox" class="form-check-input"/>
                     <label asp-for="IsUsedInReport" class="form-check-label align-bottom"></label>
                     <span asp-validation-for="IsUsedInReport" class="text-danger"></span>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-md-10">
                     <label asp-for="ReportCellStyle"></label>
                     <input asp-for="ReportCellStyle" class="form-control"/>
                     <span asp-validation-for="ReportCellStyle" class="text-danger"></span>
                 </div>
             </div>
             <button type="submit" class="btn btn-default">Создать Свойство</button>
         </form>
         
         <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function() {
           'use strict';
           window.addEventListener('load', function() {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                   event.preventDefault();
                   event.stopPropagation();
                 }
                 form.classList.add('was-validated');
               }, false);
             });
           }, false);
         })();
         </script>
     }
 <br>
     <div class="">
         <h2>Свойства типов объекта</h2>
     </div>
     
@foreach (var prop in Model.ObjectProperties)
{
    <div class="card-body">
        <input type="hidden" name="Id" value="@prop.Id"/>
        <h4 class="card-title">
             @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("SuperAdministrator"))
                        {
                            <a asp-controller="Property" asp-action="Update" asp-route-Id="@prop.Id" class="text-success"> @Html.DisplayFor(modelItem => prop.Name)</a>
                        }
                        if(!User.IsInRole("SuperAdministrator"))
                        {
                            <h4 class="text-success">@Model.Name</h4>
                        }
                    }
            @* <a asp-controller="Property" asp-action="" asp-route-Id="@prop.Id" class="badge badge-pill badge-danger" data-toggle="tooltip" title="Удалить">Удалить</a> *@
        </h4>
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="text-bold">Название в отчете</th>
              <th class="text-bold">Используется в отчете</th>
              <th class="text-bold">Тип ячейки в отчете</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>@prop.NameInReport</td>
                <td>
                    @if (prop.IsUsedInReport.Equals(true))
                                   {
                                       <input class="form-check-input" type="checkbox" value="true" id="flexCheckDisabled" checked  disabled>
                                   }
                                   else
                                   {
                                       <input class="form-check-input" type="checkbox" value="false" id="flexCheckDisabled" disabled>
                                   } 
                </td>
                <td>@prop.ReportCellStyle</td>
            </tr>
          </tbody>
        </table>
    </div>
}
 }