@using Admin.Panel.Core.Entities
@model List<Admin.Panel.Core.Entities.GetAllUsersDto>

@{
    ViewData["Title"] = "Все пользователи";
}

<h2>@ViewBag.Title</h2>

@foreach (var user in Model)
{
    <div class="card-body">
        <input type="hidden" name="Id" value="@user.Id"/>
        <h4 class="card-title">@user.Nickname
            <a asp-controller="ManageUser" asp-action="UpdateUser" asp-route-userId="@user.Id" class="text-success"> @Html.DisplayFor(modelItem => user.UserName)</a></h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@user.Email</li>
            <li class="list-group-item">@user.IsUsed</li>
            <li class="list-group-item">@user.UserName</li>
            <li class="list-group-item">@user.CreatedDate</li>
        </ul>

    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}