@using Admin.Panel.Core.Entities
@model List<Admin.Panel.Core.Entities.UserManage.GetAllUsersDto>

@{
    ViewData["Title"] = "Все пользователи";
}

<h2>@ViewBag.Title</h2>

@foreach (var user in Model)
{
    <div class="card-body">
        <input type="hidden" name="Id" value="@user.Id"/>
        <h4 class="card-title">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("SuperAdministrator"))
                {
                    <a asp-controller="ManageUser" asp-action="UpdateUser" asp-route-userId="@user.Id" class="text-success"> @Html.DisplayFor(modelItem => user.UserName)</a>
                }
                if (User.IsInRole("UsersEdit"))
                {
                    <a asp-controller="ManageUser" asp-action="UpdateUserForUser" asp-route-userId="@user.Id" class="text-success"> @Html.DisplayFor(modelItem => user.UserName)</a>
                }
            }
            else
            {
                @user.Nickname
            }
        </h4> 
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: @user.Email</li>
            <li class="list-group-item">Активен:             
            @if (user.IsUsed.Equals(true))
                                                               {
                                                                   <input class="form-check-input" type="checkbox" value="true" id="flexCheckDisabled" checked  disabled>
                                                               }
                                                               else
                                                               {
                                                                   <input class="form-check-input" type="checkbox" value="false" id="flexCheckDisabled" disabled>
                                                               } 
            
            </li>
            <li class="list-group-item">Имя пользователя: @user.UserName</li>
            <li class="list-group-item">Создан: @user.CreatedDate</li>
        </ul>

    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}