@using Admin.Panel.Core.Entities
@model Admin.Panel.Core.Entities.UserManage.UpdateUserViewModel

@{
    ViewData["Title"] = "Редактирование";
}

<div class="form-group mt-5">
    <div class="col-md-10">
        <h4>@ViewBag.Title</h4> 
    </div>
</div>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" asp-antiforgery="true">
   
    @if (Model.IsAdminLastActive == true)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Единственного активного пользователя Администратора в системе нельзя заблокировать!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="Id" value="@Model.Id"/>
    <input type="hidden" name="Role" value="@Model.Role"/>
    
    <div class="form-group">
        <div class="col-md-10">
            Email: @Model.Email
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Nickname: @Model.Nickname
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            UserName: @Model.UserName
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            Роль: @Model.Role
        </div>
    </div>
    
    <div class="form-group form-check">
        <div class="col-md-10">
            <input type="checkbox" class="form-check-input" asp-for="IsUsed" class="form-control" />
            <label class="form-check-label" asp-for="IsUsed">Активен</label>
            <span asp-validation-for="IsUsed" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-10 mt-5">
        <button type="button" class="btn btn-outline-primary" id="back-button" >Отмена</button>
        <button type="submit" class="btn btn-primary ml-2">Сохранить</button>
    </div>
</form>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}