@using Admin.Panel.Core.Entities.Questionary
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Admin.Panel.Core.Entities.Questionary.QuestionaryObject

@for (int i = 0; i < Model.SelectedObjectPropertyValues.Count ; i++)
{
    <div class="col-md-10">
        <div class="row">
                <div class="col">
                    <div class="card-body">
                        <input type="hidden" asp-for="@Model.SelectedObjectPropertyValues[i].Id" />
                        <input type="hidden" asp-for="@Model.SelectedObjectPropertyValues[i].Name" />
                        <input type="hidden" asp-for="@Model.SelectedObjectPropertyValues[i].ObjectPropertyId" />
                        <h7 class="card-title">@Model.SelectedObjectPropertyValues[i].Name</h7>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <input asp-for="@Model.SelectedObjectPropertyValues[i].Value" class="form-control" />
                        <span asp-validation-for="@Model.SelectedObjectPropertyValues[i].Value" class="text-danger"></span>
                    </div>
                </div>
        </div>
    </div>
}
