@using Admin.Panel.Core.Entities.Questionary
@model Admin.Panel.Core.Entities.Questionary.QuestionaryObject

@{
    ViewData["Title"] = "Тип объекта";
}

<h2>Объект</h2>

<div class="card-body">
    <input type="hidden" name="Id" value="@Model.Id" />
    <h4 class="card-title">
        <a asp-controller="ObjectsPropValues" asp-action="Update" asp-route-Id="@Model.Id" class="text-success"> @Html.DisplayFor(modelItem => Model.Name)</a>
    </h4>
    <div class="row">
        <div class="col">
            @foreach (var prop in Model.SelectedObjectPropertyValues)
            {
                <div class="row">
                    <div class="card-body">
                        <h7 class="card-title">@prop.Name</h7>
                    </div>
                </div>
            
            }
        </div>
            <div class="col">
                @foreach (var val in Model.SelectedObjectPropertyValues)
                {
                    <div class="row">
                        <div class="card-body">
                            <h7 class="card-title">@val.Value</h7> dfghgfd
                        </div>
                    </div>
                }
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}