@using Admin.Panel.Core.Entities.Questionary
@using System.Security.Claims
@model Admin.Panel.Core.Entities.Questionary.QuestionaryObject

<h2>Объект</h2>

<div class="card-body">
    <input type="hidden" name="UserId" value="@Model.UserId"/>
    <h4 class="card-title">
        <a asp-controller="ObjectsPropValues" asp-action="UpdateForUser" asp-route-Id="@Model.Id" class="text-success"> @Html.DisplayFor(modelItem => Model.Name)</a>
        <div class="card-body">
            <h7 class="card-title">@Model.CompanyName</h7>
        </div>
        <div class="card-body">
            <h7 class="card-title">@Model.Code</h7>
        </div>
        <div class="card-body">
            <h7 class="card-title">@Model.Description</h7>
        </div>
        <div class="card-body">
            <h7 class="card-title">@Model.Updated</h7>
        </div>
        <div class="card-body">
            <h7 class="card-title">@Model.ObjectTypeName</h7>
        </div>
    </h4>
    
    <div class="col">
        @foreach (var prop in Model.SelectedObjectPropertyValues)
        {
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h7 class="card-title">@prop.Name</h7>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h7 class="card-title">@prop.Value</h7>
                    </div>
                </div>
            </div>
        }
    </div>
    
 
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}