@using Admin.Panel.Core.Entities.Questionary
@using System.Security.Claims
@model Admin.Panel.Core.Entities.Questionary.QuestionaryObject

<h2>Объект</h2>
@if (User.Identity.IsAuthenticated)
{
    <div class="card-body">
        <h4 class="card-title">

            @if (User.IsInRole("ObjectEdit"))
            {
                <a asp-controller="ObjectsPropValues" asp-action="UpdateForUser" asp-route-Id="@Model.Id" class="text-success"> @Html.DisplayFor(modelItem => Model.Name)</a>
            }
            @if (User.IsInRole("SuperAdministrator"))
            {
                <a asp-controller="ObjectsPropValues" asp-action="Update" asp-route-Id="@Model.Id" class="text-success">@Html.DisplayFor(modelItem => Model.Name)</a>
            }
            @if (!User.IsInRole("ObjectEdit") && User.IsInRole("ObjectRead"))
            {
                @Model.Name
            }

        </h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Компания: @Model.CompanyName</li>
            <li class="list-group-item">Код: @Model.Code</li>
            <li class="list-group-item">Описание: @Model.Description</li>
            <li class="list-group-item">Обновлено: @Model.Updated</li>
            <li class="list-group-item">
                Тип объекта: @Model.ObjectTypeName
                <div class="col">
                    @foreach (var prop in Model.SelectedObjectPropertyValues)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="card-body">
                                    <h7 class="card-title">@prop.Name</h7>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h7 class="card-title">@prop.Value</h7>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </li>
        </ul>
    </div>
    <div class="form-group col-md-10 mt-5">
        @if (User.IsInRole("SuperAdministrator"))
        {
            <a class="btn btn-outline-primary" asp-controller="ObjectsPropValues" asp-action="GetAll">Назад</a>
        }
        @if (!User.IsInRole("SuperAdministrator"))
        {
            <a class="btn btn-outline-primary" asp-controller="ObjectsPropValues" asp-action="GetAllForUser">Назад</a>
        }
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}