@using Admin.Panel.Core.Entities.Questionary
@using System.Security.Claims
@model Admin.Panel.Core.Entities.Questionary.QuestionaryObjectType

@{
    ViewData["Title"] = "Тип объекта";
}

<h2>Тип объекта</h2>

<div class="card-body">
    <input type="hidden" name="Id" value="@Model.Id" />
    <h4 class="card-title">
         @if (User.Identity.IsAuthenticated)
         {
             if (User.IsInRole("SuperAdministrator") || User.IsInRole("TypesObjectEdit"))
             {
                 <a asp-controller="ObjectTypesProperties" asp-action="Update" asp-route-Id="@Model.Id" class="text-success"> @Html.DisplayFor(modelItem => Model.Name)</a>
             }
             else
             {
                 @Model.Name
             }
         }
    </h4>
    @foreach (var prop in Model.SelectedObjectProperties)
    {
        <div class="card-body">
            <h7 class="card-title">@prop.Name</h7>
        </div>
    }
</div>



        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
