@using Admin.Panel.Core.Entities.Questionary
@using System.Security.Claims
@model Admin.Panel.Core.Entities.Questionary.QuestionaryObjectType
<div class="container">
    @{
        ViewData["Title"] = "Тип объекта";
    }
    
    <h2>Тип объекта</h2>
    
    <div class="card-body">
        <input type="hidden" name="Id" value="@Model.Id" />
        <h4 class="card-title">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("SuperAdministrator"))
                {
                    <a asp-controller="ObjectTypesProperties" asp-action="Update" asp-route-Id="@Model.Id" class="text-success"> @Html.DisplayFor(modelItem => Model.Name)</a>
                }
                if(!User.IsInRole("SuperAdministrator"))
                {
                    <h4 class="text-success">@Model.Name</h4>
                }
            }
        </h4>
        <div>
            <h5>
                Свойства типа объекта:
            </h5>
        </div>
        @foreach (var prop in Model.ObjectProperties)
        {
            <div class="card-body">
                <h7 class="card-title">@prop.Name</h7>
            </div>
        }
    </div>
    
    <div class="form-group col-md-10 mt-5">
        <a class="btn btn-outline-primary" asp-controller="ObjectTypesProperties" asp-action="GetAll">Назад</a>
    </div>
</div>

@section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
