@using Admin.Panel.Core.Entities.Questionary
@model Admin.Panel.Core.Entities.Questionary.Questions.QuestionaryDto
@using static System.Linq.Enumerable;

@{
    ViewData["Title"] = "Создание Анкеты";
}

<h2>@ViewBag.Title</h2>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" asp-antiforgery="true" >
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="col">
                <div class="row">
                    <label asp-for="QuestionaryObjectTypes"></label>
                </div>
                <div class="row">
                    <select class="selectpicker" asp-for="ObjectTypeId"
                            asp-items="Model.QuestionaryObjectTypes.Select(o => new SelectListItem(o.Name, o.Id.ToString()))">
                         <option selected="selected" disabled="disabled"></option>
                    </select>
                    <span asp-validation-for="ObjectTypeId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-10">
            <div class="col">
                <div class="row">
                    <label asp-for="ApplicationCompanies"></label>
                </div>
                <div class="row">
                    <select class="selectpicker" asp-for="CompanyId"
                            asp-items="Model.ApplicationCompanies.Select(o => new SelectListItem(o.CompanyName, o.CompanyId.ToString()))">
                         <option selected="selected" disabled="disabled"></option>
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    
    <small>
        <h class="card-subtitle mb-2 text-muted">Вопросики: </h>
    </small>
    
    <div class="form-group row voting-options ">
        <span style="display: none" id="voting-options-count">@Model.QuestionaryQuestions.Count</span>
        <div class="col-md-10 mt-3">
            @foreach (int i in Range(0, Model.QuestionaryQuestions.Count))
            {
                <div class="row">
                    <div class="col form-group">
                        @* <input type="hidden" name="Id" value="@Model.QuestionaryQuestions[i].Id"> *@
                        <input type="hidden" asp-for="@Model.QuestionaryQuestions[i].Id" />
                        <label asp-for="QuestionaryQuestions[i].QuestionText"></label>
                        <input asp-for="QuestionaryQuestions[i].QuestionText" class="form-control"/>
                        <span asp-validation-for="QuestionaryQuestions[i].QuestionText" class="text-danger"></span>
                    </div>
                </div>
                       
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="QuestionaryQuestions[i].SequenceOrder"></label>
                        <input asp-for="QuestionaryQuestions[i].SequenceOrder" class="form-control"/>
                        <span asp-validation-for="QuestionaryQuestions[i].SequenceOrder" class="text-danger"></span>
                    </div>

                    <div class="col form-group form-check">
                        <input asp-for="QuestionaryQuestions[i].CanSkipQuestion" type="checkbox" class="form-check-input"/>
                        <label asp-for="QuestionaryQuestions[i].CanSkipQuestion" class="form-check-label align-bottom"></label>
                        <span asp-validation-for="QuestionaryQuestions[i].CanSkipQuestion" class="text-danger"></span>
                    </div>
                    
                    <div class="col form-group form-check">
                        <input asp-for="QuestionaryQuestions[i].IsUsed" type="checkbox" class="form-check-input"/>
                        <label asp-for="QuestionaryQuestions[i].IsUsed" class="form-check-label align-bottom"></label>
                        <span asp-validation-for="QuestionaryQuestions[i].IsUsed" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col">
                                <div class="row">
                                    <label asp-for="QuestionaryInputFieldTypes"></label>
                                </div>
                                <div class="row">
                                    <select class="selectpicker" asp-for="QuestionaryQuestions[i].QuestionaryInputFieldTypeId"
                                            asp-items="Model.QuestionaryInputFieldTypes.Select(o => new SelectListItem(o.Name, o.Id.ToString()))">
                                         <option selected="selected" disabled="disabled"></option>
                                    </select>
                                    <span asp-validation-for="QuestionaryQuestions[i].QuestionaryInputFieldTypeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col">
                                <div class="row">
                                    <label asp-for="SelectableAnswersLists"></label>
                                </div>
                                <div class="row">
                                    <select class="selectpicker" asp-for="QuestionaryQuestions[i].SelectableAnswersListId"
                                            asp-items="Model.SelectableAnswersLists.Select(o => new SelectListItem(o.Name, o.Id.ToString()))">
                                         <option selected="selected" disabled="disabled"></option>
                                    </select>
                                    <span asp-validation-for="QuestionaryQuestions[i].SelectableAnswersListId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div class="col-sm-7 mt-2 add-option-container">
            <input type="button" value="Add option" class="addPick btn btn-outline-secondary"/>
            <input type="button" value="Delete option" class="deletePick btn btn-outline-secondary"/>
        </div>

        <div class="col-md-10 mt-3 voting-option-set" id="voting-option-template" style="display: none">
            <div class="voting-option-set mt-3" id="0">
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="QuestionaryQuestions[0].QuestionText"></label>
                        <input asp-for="QuestionaryQuestions[0].QuestionText" class="form-control"/>
                        <span asp-validation-for="QuestionaryQuestions[0].QuestionText" class="text-danger"></span>
                    </div>
                </div>
                                      
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="QuestionaryQuestions[0].SequenceOrder"></label>
                        <input asp-for="QuestionaryQuestions[0].SequenceOrder" class="form-control"/>
                        <span asp-validation-for="QuestionaryQuestions[0].SequenceOrder" class="text-danger"></span>
                    </div>
               
                    <div class="col form-group form-check">
                        <input asp-for="QuestionaryQuestions[0].CanSkipQuestion" type="checkbox" class="form-check-input"/>
                        <label asp-for="QuestionaryQuestions[0].CanSkipQuestion" class="form-check-label align-bottom"></label>
                        <span asp-validation-for="QuestionaryQuestions[0].CanSkipQuestion" class="text-danger"></span>
                    </div>
                                   
                    <div class="col form-group form-check">
                        <input asp-for="QuestionaryQuestions[0].IsUsed" type="checkbox" class="form-check-input"/>
                        <label asp-for="QuestionaryQuestions[0].IsUsed" class="form-check-label align-bottom"></label>
                        <span asp-validation-for="QuestionaryQuestions[0].IsUsed" class="text-danger"></span>
                    </div>
                                   
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col">
                                <div class="row">
                                    <label asp-for="QuestionaryInputFieldTypes"></label>
                                </div>
                                <div class="row">
                                    <select class="new-selectpicker" asp-for="QuestionaryQuestions[0].QuestionaryInputFieldTypeId"
                                            asp-items="Model.QuestionaryInputFieldTypes.Select(o => new SelectListItem(o.Name, o.Id.ToString()))">
                                         <option selected="selected" disabled="disabled"></option>
                                    </select>
                                    <span asp-validation-for="QuestionaryQuestions[0].QuestionaryInputFieldTypeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                                  
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col">
                                <div class="row">
                                    <label asp-for="SelectableAnswersLists"></label>
                                </div>
                                <div class="row">
                                    <select class="new-selectpicker" asp-for="QuestionaryQuestions[0].SelectableAnswersListId"
                                            asp-items="Model.SelectableAnswersLists.Select(o => new SelectListItem(o.Name, o.Id.ToString()))">
                                         <option selected="selected" disabled="disabled"></option>
                                    </select>
                                    <span asp-validation-for="QuestionaryQuestions[0].SelectableAnswersListId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* TODO доствание списка ответов <div id="option-container"> *@
                    @*     *@
                    @*         <partial name="_SelectableAnswers"/> *@
                    @*    *@
                    @* </div> *@
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Сохранить</button>
</form>
@* TODO создание списка ответов *@
@* <form  method="post" asp-antiforgery="true"> *@
@*     $1$ <partial name="Partials/_AddProperty" /> #1# *@
@*     <button type="submit" class="btn btn-default">Создать Свойство</button> *@
@* </form> *@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}